@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 Lato, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #6666;
}

.togglenav {
  width: 8%;
  position: absolute;
  right: 32px;
  top: 110px;
}

.search-engine {
  position: absolute;
  top: 100px;
  left: 10px;
}

.magnifier {
  width: 10%;
}

.img-flex {
  width: auto;
  max-width: 100%;
}

.img-flex2 {
  width: auto;
  max-width: 100%;
}

.intro {
  font-family: Dancing Script, cursive;
  font-size: 1.5rem;
}

.icons {
  width: 25%;
}

h1 {
  font-family: Dancing script, cursive;
  font-size: 2.5rem;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding-top: .3em;
  padding-bottom: 2em;
}

ul li {
  list-style-type: none;
  text-decoration: none;
}

ul {
  padding-left: .3em;
  display: block;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}

.nav a {
  display: block;
  padding: .8em;
  text-align: right;
  padding-right: 2em;
  text-decoration: none;
  color: #000;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
}

a {
  font-family: Lato, sans-serif;
  text-decoration-line: none;
  color: #fff;
}

.nav a:hover {
  background-color: #666;
}

.nav-check {
  position: absolute;
  top: -3em;
}

li {
  padding: 0;
}

nav {
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 0;
}

p {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-top: .3em;
}

.presenting {
  padding: .8em;
}

.btn {
  color: #fff;
  padding: 1.2em;
  background-color: rgba(2, 0, 0, 0.6);
  position: absolute;
}

.btn:hover {
  background-color: #333;
}

.product {
  position: relative;
}

.btn1 {
  top: 220px;
  right: 100px;
  z-index: 1000;
}

.btn2 {
  top: 100px;
  right: 100px;
}

.btn3 {
  top: 460px;
  right: 100px;
}

.display {
  display: flex;
  flex-wrap: wrap;
}

.display figure {
  margin: 0;
  width: 50%;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
}

figure:hover {
  background-color: rgba(2, 0, 0, 0.2);
}

figcaption {
  font-family: Lato,sans-serif;
  font-size: .8rem;
}

.product-description {
  font-family: Lato, sans-serif;
  font-size: .8rem;
  padding: .8em;
}

h3 {
  font-size: .8rem;
}

.hours {
  font-family: Dancing Script, cursive;
  font-size: 2rem;
}
.social-media-icons {
  width: 2em;
  display: inline-block;
  align-content: space-between;
}

.social {
  display: block;
  max-width: 10em;
  margin-left: auto;
  margin-right: auto;
}

.social-icons {
  margin-left: 1em;
  display: inline-block;
}

.social-media-icons {
  margin-right: .5em;
}

.social-icons li {
  display: inline-block;
}

footer {
  padding-left: 5em;
  padding-bottom: 2em;
}


@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .btn1 {
    top: 250px;
    right: 140px;
    z-index: 1000;
  }

  .btn2 {
    top: 120px;
    right: 140px;
  }

  .btn3 {
    top: 530px;
    right: 140px;
  }

  footer {
    padding-left: 7em;
  }

  .display figure {
    margin: 0;
    width: 50%;
    padding-right: 0;
  }

}


@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .nav a {
    display: inline-block;
    padding: .8em;
    padding-right: 2em;
  }

  .nav-check:checked ~ .nav {
    display: inline-block;
  }

  .btn1 {
    top: 340px;
    right: 240px;
    z-index: 1000;
  }

  .btn2 {
    top: 90px;
    right: 410px;
    font-size: .8rem;
    padding: .8em;
  }

  .btn3 {
    top: 70px;
    right: 120px;
    font-size: .8rem;
    padding: .8em;
  }

  .products {
    display: inline-block;
    width: 40%;
    margin-left: 2em;
  }

  li {
    display: inline-block;
  }

  footer {
    padding-left: 12em;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
